{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <h1>Game of Thrones</h1>
    <img src="{% static 'portfolio/images/got.jpg' %}">
    <hr>
    <h2>Cast</h2>
    <br>
    <hr>
    <div class="row">
        {% for project in projects %}
                <div class="col">
                    <img src="{{project.image.url}}">
                    <h3>{{project.title}}</h3>
                    <p>{{project.description|truncatechars:100}}</p>
                    {% if project.url %}
                        <br><a href="{{project.url}}">Click here</a>
                    {% endif %}
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}